.caseStudy{
    width: 15%;
    clear: both;
    background-color: black;
    color: white;
    font-weight: bold;
    height: 4.5vh;
    font-size: 25px;
    padding: 1%;
    padding-left: 3%;
    margin-left: 5%;
}
.details{
    margin-left: 5%;
    font-size: 25px;
    margin-right: 100%;
    width: 50%;
}
.cardList_wrapper{
    margin: 1% auto;
    padding: 3%;
    width: 80%;
    border-radius: 20px;
}
.logo{
    width: 20%; 
    float: right;
}