.logo{
    width: 50%;
    cursor: pointer;
}
.navbar{
    margin: 1%;
    padding-left: 3%;
    padding-right: 5%;
    /* justify-content: space-around; */
    display: flex;
    flex-wrap: wrap;
}
.rightIcons{
    /* margin-left: 10%; */
    display: flex;
    opacity: 0.8;
    width: 15%;
    padding-left: 1%;
}
.rightIcons > img{
    width: 55%;
    margin-top: 22%;
    cursor: pointer;
    height: 10vh;
}
.rightIcons > h2{
    margin-top: 40%;
    margin-left: 1%;
}
.rightIcons > h1{
    margin-left: 8%;
    margin-top: 35%;
}
.links{
    width: 80%;
    /* margin-right: 1%; */
    margin-top: 3.5%;
    display: flex;
    margin-left: 1%;
}
.links > div:hover{
    text-decoration: underline;
    font-weight: bold;
}
/* .links > div{
    float: left;
} */
/* .navbarRightlogo{
    display: flex;
    width: fit-content;
    /* margin-left: 5%; */
/* } */ 