.PartnersHeader{
    display: flex;
    opacity: 0.8;
    margin: 1%;
}
.PartnersHeader > h1{
    font-size: 40px;
    letter-spacing: 0.1ch;
}   
.PartnersHeader > img{
    width: 3.8%;
    margin: 1.2%;
    height: 8vh;
}
.PartnersLogos{
    margin: 1%;
    width: 50%;
    padding: 1%;
    justify-content: center;
    margin: auto;
    display: flex;
}
.PartnersLogos > img{
    width: 25%;
    padding: 0.5%;
    /* padding: 1%; */
}